// Custom styles.
// 主页文章添加阴影效果
.posts-expand {
    .post {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px;
        -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
        -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
    }
}
